* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #ccc;
	font-family: "Roboto Slab", serif;
	/* background-image: linear-gradient(180deg, yellow, orange); */
}
form {
	margin-top: 10rem;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
input {
	width: 100%;
	padding: 10px;
	background-color: #f8f8ff;
	border: none;
	outline: none;
	font-weight: 500;
	font-size: 17px;
}
input:focus {
	border: 1px solid lightseagreen;
}

.add-btn {
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
	background-color: navy;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 18px;
}
.delete-btn {
	padding: 10px;
	margin: 10px;
	background-color: black;
	color: mediumvioletred;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	margin-left: 25px;
}
li {
	list-style-type: none;
	border: 1px solid #f8f8ff;
	padding: 15px;
	margin: 5px auto;
	/* word-break: break-all; */
	word-wrap: break-word;
}
